/*** Global variables ***/
/* Global functions */
.calendar {
  margin: 1vw;
  border-width: 5px;
  display: inline-block;
  width: 30vw; }

.modal-content {
  width: 50vw;
  margin: auto;
  overflow: auto;
  max-height: 38vw; }
  .modal-content .modal-header .modal-title {
    font-size: 2vw; }
  .modal-content .modal-body {
    font-size: 1vw; }
    .modal-content .modal-body p {
      margin-bottom: 0.5vw;
      margin-top: 0.5vw; }
    .modal-content .modal-body .alert {
      height: 3vw;
      font-size: 1vw;
      width: 100%;
      padding: 6px 12px;
      border-width: 1.25px; }

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1; }
