/*** Global variables ***/
/* Global functions */
html {
  height: 100%;
  padding: 0px;
  margin: 0px; }
  html body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-image: url("../img/animal-collection.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center; }
    html body .dots {
      white-space: nowrap;
      /* prevents text deformation */
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 300px; }
    html body .green-btn {
      background-color: #1abc9c; }
      html body .green-btn:hover {
        background-color: red;
        cursor: pointer; }
    html body .left {
      float: left !important; }
    html body .bottom {
      float: bottom; }
    html body .bold {
      font-weight: bold; }
    html body .pointered {
      cursor: pointer; }
    html body .not-pointered {
      cursor: auto; }
    html body .bordered {
      border: 2px solid;
      border-radius: 10px; }
    html body .right {
      float: right !important; }
    html body .align-left {
      text-align: left !important; }
    html body p {
      margin: 0; }
    html body .icon {
      font-size: 15px;
      cursor: pointer;
      text-decoration: none; }
    html body .no-padding {
      padding: 0px !important; }
    html body input,
    html body select {
      height: 35px !important;
      font-size: 11px;
      width: 100%; }
    html body button {
      font-size: 11px !important;
      height: 35px !important;
      line-height: 0.8vw !important; }
  html *::-webkit-scrollbar {
    background-color: transparent;
    outline: 1px solid slategrey;
    width: 10px;
    height: 10px; }
  html *::-webkit-scrollbar-thumb {
    background-color: #999999;
    outline: 1px solid slategrey;
    border: 2px solid;
    border-radius: 3px;
    border-color: #888; }
