<h2>{{getSelectedDateString()}}</h2>
<div>
    <p>{{'visitor-estimate.modalHeaders.eventuality' | translate}}</p>
    <select class="form-control" [(ngModel)]="dayAux.eventuality" [disabled]="!authorized">
            <option *ngFor="let event of comboEventualities" [value]="event.id">{{event.name}}</option>
    </select>
    <div [hidden]="dayAux.eventuality != undefined || firstTime" class="alert alert-danger">
        {{'visitor-estimate.modalHeaders.error.noEventuality'|translate}}
    </div>
</div>
<div>
    <p>{{'visitor-estimate.modalHeaders.visitorEstimate' | translate}}</p>
    <input class="form-control" type="number" [(ngModel)]="dayAux.visitorEstimate" [disabled]="!authorized">
    <div [hidden]="dayAux.visitorEstimate != undefined || firstTime" class="alert alert-danger">
        {{'visitor-estimate.modalHeaders.error.noVisitorEstimate'|translate}}
    </div>
</div>
<div>
    <p>{{'visitor-estimate.modalHeaders.visitorReal' | translate}}</p>
    <input class="form-control" type="number" [(ngModel)]="dayAux.visitorReal" [disabled]="!authorized">
    <div [hidden]="dayAux.visitorReal != undefined  || firstTime" class="alert alert-danger">
        {{'visitor-estimate.modalHeaders.error.noVisitorReal'|translate}}
    </div>
</div>