@import 'base';
////////////////////////////////////////////////
@import 'sections/concessions.component.scss';
/////////////////////////////////////////////////////
.content {
    width: 76vw;
    margin: auto;
    margin-top: 2vw;
}